img {
   border-radius: 50%;
}

img:hover, a:hover {
    background-color: black;
}

.jumbotron {
    background-color: #BCC747;
}

img {
    width: 430px;
    height: 300px;
    padding: 20px 20px 20px 20px;
}