iframe{
    width:60%;
    height:830px;
}


footer{
    background: #856941;
}

body {
    background: #5F6024;
    font-family: 'Lobster', cursive;
}
img {
    width: 300px;
    height: 500px;
    padding: 30px 30px 30px 30px;
}

img:hover, a:hover {
    background-color: silver;
}

li {
    background-color: #80548;
}

/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/